:root {
  --primary-color: #2aa7ff;
  --secondary-color: #1b3c74;
  --ternary-color: #1b3c74;
  --primary-bg: linear-gradient(
    81deg,
    #e7f0ff 9.01%,
    rgba(232, 241, 255, 0.47) 89.11%
  );
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.heading {
  background-color: var(--primary-color);
  color: #ffff;
  padding: 0.7rem;
  text-align: center;
}
