:root {
  --primary-color: #102851;
  --primary-bg-color: #2aa7ff;
  --secondary-color: #1b3c74;
  --primary-bg: linear-gradient(
    81deg,
    #e7f0ff 9.01%,
    rgba(232, 241, 255, 0.47) 89.11%
  );
  --primary-font-color: #5c6169;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Poppins", sans-serif;
}
.heading {
  background-color: var(--primary-bg-color);
  color: #ffff;
  padding: 0.7rem;
  text-align: center;
  font-size: 0.9rem;
}
.navbar {
  display: flex;
  justify-content: space-between;
  padding: 2rem 8rem;
  background: var(--primary-bg);
}
.nav-left-section {
}
.nav-right-section {
  display: flex;
}
.nav-list {
  display: flex;
  gap: 40px;
  list-style: none;

  > li {
    color: var(--primary-color);
  }
}
.my-booking-btn,
.view-all {
  color: #ffff;
  background-color: var(--primary-bg-color);
  border-radius: 5px;
  padding: 0.6rem 1.2rem;
  text-wrap: nowrap;
  font-size: 0.8rem;
  border-color: transparent;
}

/* hero section start */
.hero-wrapper {
  display: flex;
  justify-content: space-between;
  padding: 0rem 8rem;
  background: var(--primary-bg);
}
.hero-left {
  padding-top: 4rem;
}
.hero-heading {
  color: var(--primary-color);
  font-size: 1.5rem;
}
.find-centers {
  color: #ffff;
  background-color: var(--primary-bg-color);
  border-radius: 5px;
  padding: 0.6rem 1.2rem;
  text-wrap: nowrap;
  border-color: transparent;
  font-size: 0.8rem;
  cursor: pointer;
}
.hero-sub-heading {
  font-size: 3rem;
}
.hero-right {
}
.centers {
  color: var(--primary-bg-color);
  margin-left: 1rem;
  font-size: 3rem;
}
.tagline {
  color: var(--primary-font-color);
  width: 29rem;
  padding-bottom: 1rem;
}
.dropdown-wrapper {
}
.state-wrapper {
  display: flex;
  align-items: center;
  border-radius: 10px;
  padding: 0.7rem 1rem;
  background-color: #f0f0f0;
}
.search-icon {
  width: 16px;
  height: 16px;
}
#state {
  background-color: #f0f0f0;
  color: var(--primary-font-color);
  border: none;
  outline: none;
  outline-color: transparent;
  padding: 0.7rem 1rem;
  width: 12rem;
}
/* Icon button start */
.button-wrapper {
  display: flex;
  align-items: center;
  background-color: var(--primary-bg-color);
  border-radius: 10px;
  width: 80px;
  height: 40px;
  padding: 1rem 1rem;
}
.btn-img {
  width: 16px;
  height: 16px;
}
.search-icon-btn {
  outline-color: transparent;
  color: #ffff;
  background-color: transparent;
  border-color: transparent;
}
/* Find by specialisation page */
.specialisation {
  padding: 0 8rem;
  background: var(--primary-bg);
}
.specialisation-heading {
  text-align: center;
  color: var(--primary-font-color);
  text-transform: capitalize;
  padding: 2rem 0rem;
}
.find-item-wrapper {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(2, 1fr);
  gap: 25px;
  justify-content: center;
  align-items: center;
}
.items {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #ffff;
  height: 180px;
  width: 290px;
  border-radius: 5px;
}
.items:hover {
  transition: transform 200ms ease, box-shadow 200ms ease;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  transform: scale(1.04);
}

.img-wrapper {
  height: 100px;
  padding: 10px;
}
.item-img {
  height: 100%;
  width: 100%;
}
.details {
  color: var(--primary-font-color);
}
.view-all-wrapper {
  display: flex;
  justify-content: center;
  padding-top: 2rem;
}
/* Blog page start */
.blog-wrapper {
  padding: 2rem 8rem;
}
.blog-main-heading {
  color: var(--primary-bg-color);
  font-weight: bold;
  text-align: center;
}
.blog-heading {
  text-align: center;
  color: var(--primary-color);
  text-transform: capitalize;
  font-size: 2.5rem;
  font-weight: bold;
  padding: 1.5rem 0rem;
}
.blogs {
  display: flex;
  gap: 20px;
  justify-content: center;
}
.blog-card {
  width: 364.7px;
  border-radius: 10px;
  border: 1px solid rgb(201, 201, 201);
  cursor: pointer;
}
.cards-wrapper {
  padding: 1rem;
  display: flex;
  flex-direction: column;
  gap: 0.6rem;
}
.details {
  display: flex;
  gap: 20px;
}
.blog-details {
  display: flex;
  align-items: center;
  gap: 10px;
}
.blog-title,
.blog-author {
  color: var(--primary-font-color);
  font-weight: 500;
}
/* Footer section start here */
.footer-wrapper {
  background: var(--primary-color);
}
.footer {
  display: grid;
  grid-template-columns: 1.2fr repeat(3, 1fr);
  padding: 2rem 8rem;
}
.first-section {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 145px;
}
.media-links {
  display: flex;
  gap: 10px;
}
.media-links > img {
  cursor: pointer;
}
.links {
  list-style: none;
  color: #fff;
  padding: 0px;
}
.links > li {
  position: relative;
  padding-left: 20px;
  margin-bottom: 8px;
  font-size: 0.8rem;
  cursor: pointer;
}
.links > li::before {
  content: "";
  background-image: url("/greaterthan.png");
  display: inline-block;
  height: 13px;
  width: 13px;
  background-repeat: no-repeat;
  background-size: contain;
  padding: 0px 0.3rem;
}
.right-reserve {
  color: #fff;
    padding: 0rem 8rem;

}
